.dot {
    fill: none;
    r: 0.1;
}

.dot-available {
    fill: black;
}

.dot-available:hover {
    fill: pink;
}

.dot-selected {
    fill: red;
}

.square {
    fill: none;
    stroke-width: 0.1;
    stroke: red;
}

.square.square-selected {
    stroke-width: 0.2;
}

.in-progress {
    fill: none;
    stroke: pink;
    stroke-width: 0.025;
}