.Game {
    width: 100%;
    height: 100%;
    outline: none;
}

.dot {
    fill: none;
    r: 0.1;
    transition: fill 100ms linear;
}

.dot-available {
    fill: black;
}

.dot-available:hover {
    fill: pink;
    cursor: pointer;
}

.dot-selected {
    fill: red;
}

.square {
    fill: none;
    stroke-width: 0.1;
    stroke: lavender;
    transition: stroke-width 100ms linear;
}

.square:hover {
    cursor: pointer;
}

.square.square-selected {
    stroke-width: 0.2;
}

.in-progress {
    fill: none;
    stroke: red;
    stroke-width: 0.025;
}